body{
    background-color: #111827;
    text-align: center;
}

.grid-container{
    display: grid;
    width: 500px;
    height: 500px;
    margin: 90px auto;
    grid-template: 164px 164px 164px/168px 168px 168px;
}

.row-0,.row-1{
    border-bottom: 4px solid white ;
    border-right: 4px solid white ;
}

.row-2{
    border-right: 4px solid white;
}

.col-2{
    border-right: 0px;
}

button{
    padding: 15px;
    color: white;
    background-color: #0f766e;
    font-size: 24px;
    border-radius: 15px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: rgb(214, 214, 15);
    flex-grow: 0;
    flex-shrink: 0;
}

.text{
    margin-top: 40px;
    color: white;
    font-size: 30px;
}